html {
    color-scheme: light dark;
}

body {
    height: 100svh;
}

#root {
    height: 100%;
}

.auth-wrapper {
    width: 100%;
    height: 100%;
    position: relative;
    background-color: antiquewhite;
}
