html {
    color-scheme: dark;
}

body {
    height: 100svh;
    color-scheme: dark;
}

#root {
    height: 100%;
}

.tester {
    height: 100%;
    display: grid;
    grid-template-rows: 1fr 1fr;

    .loader-parent {
        position: relative;
        min-height: 10rem;
        min-width: 30rem;
    }

    .dark {
        background-color: #1f1d1c;
        padding: 3rem;
    }

    .light {
        background-color: #fef9ff;
        padding: 3rem;
    }

    .row {
        padding: 3rem 1rem;
        display: inline-flex;
        align-items: center;
        gap: 1.6rem;
    }
}
