$color-primary-100: #fff3e8;
$color-primary-200: #fee1c9;
$color-primary-300: #fdc89f;
$color-primary-400: #fbae70;
$color-primary-500: #f8953a;
$color-primary-600: #e77d24;
$color-primary-700: #c96317;
$color-primary-800: #a84e13;
$color-primary-900: #863d10;
$color-primary-1000: #5c280b;

$color-secondary-100: #f0fafd;
$color-secondary-200: #ddf3fa;
$color-secondary-300: #c7eaf5;
$color-secondary-400: #afddee;
$color-secondary-500: #98d2eb;
$color-secondary-600: #72bad9;
$color-secondary-700: #4a9fbe;
$color-secondary-800: #34829f;
$color-secondary-900: #286b83;
$color-secondary-1000: #1b4b5c;

$color-neutral-0: #fcfdff;
$color-neutral-50: #f8fafc;
$color-neutral-100: #f2f5fa;
$color-neutral-200: #e4e9f2;
$color-neutral-300: #cdd5e3;
$color-neutral-400: #9aa4b2;
$color-neutral-500: #6b7283;
$color-neutral-600: #4b5163;
$color-neutral-700: #2f3446;
$color-neutral-800: #1a1d29;
$color-neutral-900: #0f1117;

$color-success-100: #a3d3c4;
$color-success-200: #5ca68e;
$color-success-300: #2e7c61;
$color-success-400: #215c4a;
$color-success-500: #173b32;

$color-warning-100: #fff6e5;
$color-warning-200: #ffe4b8;
$color-warning-300: #ffc46b;
$color-warning-400: #f59e0b;
$color-warning-500: #c27803;

$color-error-100: #fdecec;
$color-error-200: #f9caca;
$color-error-300: #f07171;
$color-error-400: #dc2626;
$color-error-500: #991b1b;

// todo change this
$color-brackground: light-dark(#fef9ff, #1f1d1c);
$color-text: light-dark(#1f1d1c, #fef9ff);
