@use '../base/colors' as *;

.btn {
    background-color: transparent;
    border: none;
    font-size: 1.4rem;
    font-weight: 700;
    text-transform: uppercase;
    color: #1f1d1c;
    position: relative;
    transition:
        background-color 0.3s ease-in-out,
        color 0.3s ease-in-out;
    $parent: &;

    &:focus {
        outline-offset: 2px;
        outline-style: solid;
        outline-width: 2px;
    }

    &:hover {
        cursor: pointer;
    }

    &--loading {
        #{$parent}__content {
            opacity: 0.5;
            visibility: hidden;
        }
    }

    .loader {
        position: absolute;
        inset: 0;
        background-color: rgba(#000, 0.6);
        display: inline-flex;
        align-items: center;
        justify-content: center;
    }

    &__content {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        gap: 1rem;
    }

    &--primary {
        // background: linear-gradient(59deg, #ff5e24 0%, #f8953a 100%);
        background-color: #ff6e39;

        &:focus {
            outline-color: light-dark($color-primary-700, $color-primary-300);
        }

        &:hover {
            // background: linear-gradient(59deg, #ff7e4f 0%, #f9aa61 100%);
            // background: linear-gradient(59deg, #e55420 0%, #df8634 100%);
            background-color: #f8953a;
        }
    }

    &--secondary {
        // background: linear-gradient(59deg, $color-secondary-800 0%, $color-secondary-600 100%);
        background-color: $color-secondary-600;

        &:focus {
            outline-color: light-dark($color-secondary-700, $color-secondary-300);
        }

        &:hover {
            background-color: $color-secondary-700;
        }
    }

    &--tertiary {
        color: $color-text;

        &:focus {
            outline-color: light-dark($color-neutral-500, $color-neutral-300);
        }

        &:hover {
            background-color: light-dark($color-neutral-200, $color-neutral-800);
        }

        .loader {
            background-color: unset;
            --loader-color: light-dark(#{$color-primary-100}, #{$color-primary-800});
        }
    }

    &--destructive {
        color: #fef9ff;
        background-color: $color-error-400;

        &:focus {
            outline-color: light-dark($color-neutral-500, $color-neutral-300);
        }

        &:hover {
            background-color: light-dark($color-error-500, $color-error-300);
        }
    }

    &--xs {
        padding: 0.6rem 1rem;
        font-size: 1.2rem;

        .loader {
            --loader-full-height: 2rem;
            --loader-min-height: 1.2rem;
        }

        svg {
            width: 1.2rem;
            height: 1.2rem;
        }
    }

    &--sm {
        padding: 0.8rem 1.2rem;

        .loader {
            --loader-full-height: 2.2rem;
            --loader-min-height: 1.4rem;
        }

        svg {
            width: 1.6rem;
            height: 1.6rem;
        }
    }

    &--md {
        padding: 1.2rem 2.2rem;

        .loader {
            --loader-full-height: 2.8rem;
            --loader-min-height: 1.6rem;
        }

        svg {
            width: 2rem;
            height: 2rem;
        }
    }

    &--lg {
        padding: 1.6rem 2.6rem;

        .loader {
            --loader-full-height: 3.2rem;
            --loader-min-height: 1.8rem;
        }

        svg {
            width: 2.4rem;
            height: 2.4rem;
        }
    }

    &--xl {
        padding: 1.8rem 2.8rem;

        .loader {
            --loader-full-height: 3.6rem;
            --loader-min-height: 2.2rem;
        }

        svg {
            width: 2.8rem;
            height: 2.8rem;
        }
    }

    &--full {
        width: 100%;
        padding: 1.4rem 0;
    }

    // ICON
    &--icon#{&}--xs {
        padding: 0.4rem;

        svg {
            width: 1.2rem;
            height: 1.2rem;
        }
    }

    &--icon#{&}--sm {
        padding: 0.6rem;

        svg {
            width: 1.4rem;
            height: 1.4rem;
        }
    }

    &--icon#{&}--md {
        padding: 0.8rem;

        svg {
            width: 1.8rem;
            height: 1.8rem;
        }
    }

    &--icon#{&}--lg {
        padding: 0.8rem;

        svg {
            width: 2.2rem;
            height: 2.2rem;
        }
    }

    &--icon#{&}--xl {
        padding: 0.8rem;

        svg {
            width: 2.6rem;
            height: 2.6rem;
        }
    }
}
