.form-input {
    width: 100%;

    &__input {
        position: relative;

        input {
            background-color: #333;
            color: #fff;
            width: 100%;
            padding: 1.8rem 0.8rem 0.6rem 1rem;
            outline: 0;
            border: 1px solid rgba(105, 105, 105, 0.397);
            border-radius: 10px;
            font-size: 1.4rem;
        }

        input + span {
            color: rgba(255, 255, 255, 0.5);
            position: absolute;
            left: 1rem;
            top: 0px;
            font-size: 1.4rem;
            cursor: text;
            transition: 0.3s ease;
        }

        input:placeholder-shown + span {
            top: 1rem;
            font-size: 1.4rem;
        }

        input:focus + span,
        input:not(:placeholder-shown) + span {
            color: #00bfff;
            top: 0.2rem;
            font-size: 1.2rem;
            font-weight: 600;
        }
    }
}
